{% extends 'base.html' %}

{% block title %} {{ teacher.first_name }} {% endblock %}

{% load static %}

{% block content %} 
  <div class="teacher-card" role="main" aria-label="Карточка учителя">
    
    <!-- аватар / инициалы -->
    <div class="avatar">
      <div class="avatar-circle">
        <span class="label">💡 Аватар:</span>
        <img src="{{ teacher.photo.url }}" alt="Логотип" width="110px">
      </div>
    </div>

    <!-- Имя -->
    <div class="info-field">
      <span class="label">👤 ФИО</span>
      <span class="value" id="teacherName">{{ teacher.first_name }} {{ teacher.patronymic }} {{ teacher.last_name }}</span>
    </div>

    <!-- Курс (предмет / дисциплина) -->
    <div class="info-field">
      <span class="label">📚 Курс</span>
      {% for course in courses %}
      <span class="value" id="teacherCourse">{{ course.title }}</span>
      {% endfor %}
    </div>

    <div class="info-field">
      <span class="label">📜 Биография</span>
      <span class="value age-value" id="teacherAge">
        {{ teacher.bio }}
      </span>
    </div>

    <!-- Возраст -->
    <div class="info-field">
      <span class="label">🎂 Возраст</span>
      <span class="value age-value" id="teacherAge">
        {{ teacher.age }} <small>года</small>
      </span>
    </div>

    <div class="info-field">
      <span class="label">📧 Email</span>
      <span class="value age-value" id="teacherAge">
        {{ teacher.contact_email }}
      </span>
    </div>

    <!-- декоративный элемент + маленький бейдж (необязательно, но добавляет акцент) -->
    <div class="badge-row">
      <span class="badge">⭐ преподаватель</span>
    </div>

    <div class="divider-light"></div>

  </div>
{% endblock %}
